<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" align="center">
    <img src="assets/images/advertencia.png" alt="Italian Trulli">
  </div>
</div>

<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" align="center">
    <h2>Error 401 - Sin autorización</h2>
  </div>
</div>

<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" align="center">
    <h2>Verifique los permisos con el administrador</h2>
  </div>
</div>

<br>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" align="center">
    <strong><a href="pageRedirect">Regresar al Inicio</a></strong>
  </div>
</div>
