<app-header-content [titleHeader]="titleHeader"></app-header-content>

<!-- <div class="row mt-3 mb-3 mx-0">
  <div class="card w-100">
    <div class="card-body">

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <app-chart-accounts></app-chart-accounts>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <app-chart-expenses-business-unit></app-chart-expenses-business-unit>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <app-chart-requisitions-estatus></app-chart-requisitions-estatus>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <app-chart-purchase-orders-estatus></app-chart-purchase-orders-estatus>
        </div>
      </div>

    </div>
  </div>
</div> -->
