<form #formRequisitionEdition="ngForm">

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="articleId">Artículo</label>
        <ejs-dropdownlist #articleObj #articleId="ngModel" [(ngModel)]="requisitionEdition.articleId" id="articleId"
          name="articleId" [dataSource]="listArticles" [fields]="{ text: 'fullName', value: 'id' }"
          (filtering)="filteringArticles($event)" [filterBarPlaceholder]="'Buscar'" [allowFiltering]="true"
          [ignoreAccent]="true" [placeholder]="'Seleccione un artículo'" [showClearButton]="true"
          (change)="changeArticle()" required [readonly]="isReadOnly">
        </ejs-dropdownlist>
        <div *ngIf="(articleId.dirty || articleId.touched || submittedRequisitionEdition) && !articleId.valid"
          class="alert alert-danger">
          <div *ngIf="!!articleId.errors?.required">
            Artículo es <strong>requerido</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="date">Día Estimado</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="estimatedDate" [(ngModel)]="estimatedDate"
            ngbDatepicker #d="ngbDatepicker" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
              <span class="material-icons md-18 align-text-bottom">event</span>
            </button>
          </div>
        </div>
        <div *ngIf="!estimatedDate || !estimatedDate.year || !estimatedDate.month || !estimatedDate.day"
          class="alert alert-danger">
          Día Estimado es <strong>requerido</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="description">Descripción del perfil</label>
        <textarea class="form-control" name="description" id="description" rows="3"
          maxlength="{{ maxLengthDescription }}" [(ngModel)]="requisitionEdition.description" #description="ngModel"
          disabled required></textarea>
      </div>
      <div class="text-right">
        <span>
          <strong>{{ maxLengthDescription }} </strong> /
          {{ maxLengthDescription - requisitionEdition.description.length }}
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="quantity">Cantidad</label>
        <input mask="0*" class="form-control" name="quantity" [(ngModel)]="requisitionEdition.quantity"
          #quantity="ngModel" maxlength="30" (blur)="blurQuantity($event)" required>
        <div *ngIf="(quantity.dirty || quantity.touched || submittedRequisitionEdition) && !quantity.valid"
          class="alert alert-danger">
          <div *ngIf="quantity.errors?.required">
            Cantidad es <strong>requerido</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="unitPrice">Precio Unitario</label>
        <input type="text" class="form-control" name="unitPrice" [(ngModel)]="requisitionEdition.unitPrice"
          #unitPrice="ngModel" maxlength="30" (blur)="blurUnitPrice($event)" required>
        <div *ngIf="(unitPrice.dirty || unitPrice.touched || submittedRequisitionEdition) && !unitPrice.valid"
          class="alert alert-danger">
          <div *ngIf="!!unitPrice.errors?.required">
            Precio Unitario es <strong>requerido</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="subTotal">Sub Total</label>
        <input type="text" class="form-control" name="subTotal" [(ngModel)]="requisitionEdition.subTotal"
          #subTotal="ngModel" maxlength="30" readonly required>
        <div *ngIf="(subTotal.dirty || subTotal.touched || submittedRequisitionEdition) && !subTotal.valid"
          class="alert alert-danger">
          <div *ngIf="subTotal.errors?.required">
            Sub Total es <strong>requerido</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="total">Total</label>
        <input type="text" class="form-control" name="total" [(ngModel)]="requisitionEdition.total" #total="ngModel"
          maxlength="30" readonly required>
        <div *ngIf="(total.dirty || total.touched || submittedRequisitionEdition) && !total.valid"
          class="alert alert-danger">
          <div *ngIf="!!total.errors?.required">
            Total es <strong>requerido</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
