<form class="my-3" #formBusinessData="ngForm">

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="rfc">RFC</label>
        <input mask="A*" class="form-control" name="rfc" maxlength="13" [(ngModel)]="personalData.rfc"
              [disabled]="this.action === 2" #rfc="ngModel" required/>
        <div *ngIf="(rfc.dirty || rfc.touched || submitted) && !rfc.valid" class="alert alert-danger">
          <div *ngIf="!!rfc.errors?.required">
            RFC es <strong>requerido</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="legalName">Razon Social</label>
        <input mask="A*" class="form-control" name="legalName" maxlength="13" [(ngModel)]="personalData.legalName"
               [disabled]="this.action === 2" #legalName="ngModel" required/>
        <div *ngIf="(legalName.dirty || legalName.touched || submitted) && !legalName.valid" class="alert alert-danger">
          <div *ngIf="!!legalName.errors?.required">
            Razon Social es <strong>requerido</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="email">Correo Electrónico</label>
        <input mask="A*" class="form-control" name="email" maxlength="13" [(ngModel)]="personalData.email"
               [disabled]="this.action === 2" #email="ngModel" required/>
        <div *ngIf="(email.dirty || email.touched || submitted) && !email.valid" class="alert alert-danger">
          <div *ngIf="!!email.errors?.required">
            Correo Electronico es <strong>requerido</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div *ngIf="this.action === 2" class="text-center">
    <h6>Por seguridad, la <strong>razón social</strong>, <strong>RFC</strong> y <strong>correo electrónico</strong> no son editables, si requiere hacer un cambio, <br> solicítelo a su administrador</h6>
  </div>

</form>
