<form #formImportPediments="ngForm">

  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="pedimentNumber">No. Pedimento</label>
        <input type="text" class="form-control" name="pedimentNumber" id="pedimentNumber" maxlength="50" />
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="customerReference">Referencia del Cliente</label>
        <input type="text" class="form-control" name="customerReference" id="customerReference" maxlength="50" />
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
      <div class="form-group">
        <label class="font-weight-bold" for="pedimentDate">Fecha Pedimento</label>
        <input type="text" class="form-control" name="pedimentDate" id="pedimentDate" maxlength="50" />
      </div>
    </div>
  </div>

</form>
