<div class="overflow-hidden-x">
  <div class="row my-1">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
      <img src="assets/images/teamwork.png" class="img-fluid" alt="Responsive image" width="600" height="400">
    </div>
  </div>

  <div class="row my-1">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
      <h2>Error 404 - Página no encontrada</h2>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
      <a href="#" routerLink="/" class="stretched-link"><strong>Regresar al Inicio</strong></a>
    </div>
  </div>
</div>
